<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103457727754-a0pbru7p5209b3rgesbgejmiebn50ukn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103457727754-a0pbru7p5209b3rgesbgejmiebn50ukn</string>
	<key>API_KEY</key>
	<string>AIzaSyDyOtk-zao8SuxwgtuK-5Pc9EURS1EYGfE</string>
	<key>GCM_SENDER_ID</key>
	<string>103457727754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bk-zalo</string>
	<key>PROJECT_ID</key>
	<string>newproject-7dbc9</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-7dbc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103457727754:ios:7306180a571ef5d78b46f3</string>
	<key>DATABASE_URL</key>
	<string>https://newproject-7dbc9.firebaseio.com</string>
</dict>
</plist>